body {
  font-size: 30px;
}

.counter {
  display: block;
  margin: 100px;
}
#img {
  width: 50px;
}

.onFocus {
  border: 4px solid green;
  outline: none;
}

.onBlur {
  border: 3px solid red;
}
.red {
  background: red;
}

.borderStyle {
  border: 3px solid orange;
}
